#priority{
  margin-left:15%;
  margin-right:10%;
}
.table_box {
  position: relative;
  border-radius: 3px;
  background: white;
  border-top: 5px solid #d2d6de;
  border-bottom: 5px solid #d2d6de;
  margin-top: 15px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.p_table{
  border: 3px solid #d2d6de;
  margin-left:20%;
  margin-bottom: 40px;
  
}

.p_table th{
  background: #43A4CF;
  text-align: center;
  padding: 10px;
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
} 
.p_table td{
  
  padding-left: 10px;
  background: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  font-family: "Comic Sans MS", cursive, sans-serif;
} 

.circle{
    background: #E6E6FA;
    border-radius: 100px;
    height: 80px;
    font-weight: bold;
    width: 150px;
  }

  .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
      font-family: "Comic Sans MS", cursive, sans-serif;
    }

    .example-modal .modal {
      background: transparent !important;
    }

    .example-modal .modal-header h4{
      
      font-family: "Comic Sans MS", cursive, sans-serif;
      text-align: center;
    }

    .task_table tbody tr:nth-child(odd) {
    background-color: #dddddd;
   }

  #a_table {

    border-collapse: collapse;
    border-spacing: 0;

  }
  #a_table td { padding:15px;
    border-bottom: 1px solid #CCC;
     }

  #cmnt_form{
    padding-left: 40px;
  }

  #cmnt_body{

    background: #E7F8F3;
    margin-bottom: 2px;
    padding-top:25px;
    padding-bottom:25px;
  }

.nav_lu {
  background:white;
}
.nav_lu > li {
  border:1px solid white; 
}


.dropdown-menu1 {
    box-shadow: none;
    border-color: #eee
}

.dropdown-menu1 > li > a {
    color: red
}

.dropdown-menu1 > li > a > .glyphicon, .dropdown-menu1 > li > a > .fa, .dropdown-menu1 > li > a > .ion {
    margin-right: 10px
}

.dropdown-menu1 > li > a:hover {
    background-color: #e1e3e9;
    color: #333
}

.dropdown-menu1 > .divider {
    background-color: #eee
}

.drp_dwn{
  color:white;
}
     